<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tradely.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>25</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C52D3F957B34159A6608BF7E886DD345A22164A7</string>
				<key>dateExpires</key>
				<string>13/09/2024</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C52D3F957B34159A6608BF7E886DD345A22164A7</string>
						<key>dateExpires</key>
						<string>13/09/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GJM6V4M7XJ</string>
						<key>name</key>
						<string>Abasiono Udosen</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>GJM6V4M7XJ.org.reactjs.native.example.tradely</string>
				<key>com.apple.developer.team-identifier</key>
				<string>GJM6V4M7XJ</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Tradely.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>582e742e-2832-4099-b37c-86dec5f12892</string>
				<key>dateExpires</key>
				<string>13/09/2024</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>GJM6V4M7XJ</string>
				<key>name</key>
				<string>Abasiono Udosen</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
